<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Heart Referee</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Table</display-name>
    <servlet-name>TableController</servlet-name>
    <servlet-class>com.controller.TableController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TableController</servlet-name>
    <url-pattern>/Table</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManualTable</display-name>
    <servlet-name>ManualTableController</servlet-name>
    <servlet-class>com.controller.ManualTableController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManualTableController</servlet-name>
    <url-pattern>/ManualTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Details</display-name>
    <servlet-name>DetailsController</servlet-name>
    <servlet-class>com.controller.DetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailsController</servlet-name>
    <url-pattern>/Details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Setting</display-name>
    <servlet-name>SettingController</servlet-name>
    <servlet-class>com.controller.SettingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SettingController</servlet-name>
    <url-pattern>/Setting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Multiple Input</display-name>
    <servlet-name>MultiInputController</servlet-name>
    <servlet-class>com.controller.MultiInputController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MultiInputController</servlet-name>
    <url-pattern>/MultiInput</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Custom Input</display-name>
    <servlet-name>CustomInputController</servlet-name>
    <servlet-class>com.controller.CustomInputController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomInputController</servlet-name>
    <url-pattern>/CustomInput</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Recover</servlet-name>
    <servlet-class>com.controller.RecoverController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Recover</servlet-name>
    <url-pattern>/Recover</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>History</servlet-name>
    <servlet-class>com.controller.HistoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>History</servlet-name>
    <url-pattern>/History</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchTwoD</servlet-name>
    <servlet-class>com.controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchTwoD</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SortBy</servlet-name>
    <servlet-class>com.controller.SortByController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SortBy</servlet-name>
    <url-pattern>/SortBy</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SortByUser</servlet-name>
    <servlet-class>com.controller.SortByUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SortByUser</servlet-name>
    <url-pattern>/SortByUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>DeleteController</servlet-name>
    <servlet-class>com.controller.DeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteController</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WaitingTable</servlet-name>
    <servlet-class>com.controller.WaitingTableController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WaitingTable</servlet-name>
    <url-pattern>/WaitingTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SummaryTable</servlet-name>
    <servlet-class>com.controller.SummaryTableController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SummaryTable</servlet-name>
    <url-pattern>/SummaryTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>HomePage</description>
    <servlet-name>TwoDList</servlet-name>
    <jsp-file>/jspPage/Home.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwoDList</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>WaitingTablePage</description>
    <servlet-name>Waiting</servlet-name>
    <jsp-file>/jspPage/WaitingTable.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Waiting</servlet-name>
    <url-pattern>/waiting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>RecoverTablePage</description>
    <servlet-name>RecoverTable</servlet-name>
    <jsp-file>/jspPage/RecoverTable.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecoverTable</servlet-name>
    <url-pattern>/recoverTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>SummaryTablePage</description>
    <servlet-name>Summary</servlet-name>
    <jsp-file>/jspPage/SummaryTable.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Summary</servlet-name>
    <url-pattern>/summary</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>logOut</description>
    <servlet-name>logOut</servlet-name>
    <jsp-file>/jspPage/logOut.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>logOut</servlet-name>
    <url-pattern>/log-out</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecoverPageController</servlet-name>
    <servlet-class>com.recoverpagecontroller.RecoverPageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecoverPageController</servlet-name>
    <url-pattern>/RecoverPageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>CheckRecoverPage</description>
    <servlet-name>RecoverPage</servlet-name>
    <jsp-file>/jspPage/RecoverPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecoverPage</servlet-name>
    <url-pattern>/recoverPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MultiInputRecoverController</servlet-name>
    <servlet-class>com.recoverpagecontroller.MultiInputRecoverController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MultiInputRecoverController</servlet-name>
    <url-pattern>/multiInputRecover</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomInputRecoverController</servlet-name>
    <servlet-class>com.recoverpagecontroller.CustomInputRecoverController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomInputRecoverController</servlet-name>
    <url-pattern>/customInputRecover</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecoverDetailsController</servlet-name>
    <servlet-class>com.recoverpagecontroller.RecoverDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecoverDetailsController</servlet-name>
    <url-pattern>/RecoverDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchRecoverController</servlet-name>
    <servlet-class>com.recoverpagecontroller.SearchRecoverController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchRecoverController</servlet-name>
    <url-pattern>/SearchRecover</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SortRecoverController</servlet-name>
    <servlet-class>com.recoverpagecontroller.SortRecoverController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SortRecoverController</servlet-name>
    <url-pattern>/SortRecover</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>fullTable</description>
    <servlet-name>fullTable</servlet-name>
    <jsp-file>/jspPage/FullTable.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>fullTable</servlet-name>
    <url-pattern>/fullTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FullTableController</servlet-name>
    <servlet-class>com.controller.FullTableController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FullTableController</servlet-name>
    <url-pattern>/FullTableController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecoverDeleteController</servlet-name>
    <servlet-class>com.recoverpagecontroller.RecoverDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecoverDeleteController</servlet-name>
    <url-pattern>/RecoverDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addRecover</servlet-name>
    <servlet-class>com.controller.addRecover</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addRecover</servlet-name>
    <url-pattern>/addRecover</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>addRecoverPage</description>
    <servlet-name>addRecoverPage</servlet-name>
    <jsp-file>/jspPage/addRecover.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>addRecoverPage</servlet-name>
    <url-pattern>/addRecoverPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>finalResult</servlet-name>
    <servlet-class>com.controller.FinalResultController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>finalResult</servlet-name>
    <url-pattern>/Final</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>finalResultPage</description>
    <servlet-name>finalResultPage</servlet-name>
    <jsp-file>/jspPage/FinalResultPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>finalResultPage</servlet-name>
    <url-pattern>/finalResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>historyResult</servlet-name>
    <servlet-class>com.controller.HistoryResultController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>historyResult</servlet-name>
    <url-pattern>/HResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>historyResultPage</description>
    <servlet-name>historyResultPage</servlet-name>
    <jsp-file>/jspPage/HistoryResultPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>historyResultPage</servlet-name>
    <url-pattern>/historyResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>closedNumberController</servlet-name>
    <servlet-class>com.controller.ClosedNumberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>closedNumberController</servlet-name>
    <url-pattern>/ClosedNumbers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>closedNumberPage</description>
    <servlet-name>closedNumberPage</servlet-name>
    <jsp-file>/jspPage/closedNumbersPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>closedNumberPage</servlet-name>
    <url-pattern>/closedNumbersPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>recoverSellerController</servlet-name>
    <servlet-class>com.recoverpagecontroller.RecoverSellerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>recoverSellerController</servlet-name>
    <url-pattern>/RecoverSeller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>recoverSellerPage</description>
    <servlet-name>recoverSellerPage</servlet-name>
    <jsp-file>/jspPage/RecoverSellerPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>recoverSellerPage</servlet-name>
    <url-pattern>/recoverSellerPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>recoverResultController</servlet-name>
    <servlet-class>com.controller.RecoverResultController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>recoverResultController</servlet-name>
    <url-pattern>/RecoverResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>recoverResultPage</description>
    <servlet-name>recoverResultPage</servlet-name>
    <jsp-file>/jspPage/RecoverResultPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>recoverResultPage</servlet-name>
    <url-pattern>/recoverResultPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>commController</servlet-name>
    <servlet-class>com.commcontroller.CommissionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>commController</servlet-name>
    <url-pattern>/Commission</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>commissionPage</description>
    <servlet-name>commissionPage</servlet-name>
    <jsp-file>/jspPage/CommissionPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>commissionPage</servlet-name>
    <url-pattern>/commissionPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>autoReportController</servlet-name>
    <servlet-class>com.controller.AutoReportController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>autoReportController</servlet-name>
    <url-pattern>/AutoReport</url-pattern>
  </servlet-mapping>
  
  
  
  <!-- Three Digits -->
  
  
  <!-- Home Page -->
  
  <servlet>
    <description>threeDHomePage</description>
    <servlet-name>threeDHomePage</servlet-name>
    <jsp-file>/jsp3DPage/Home.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>threeDHomePage</servlet-name>
    <url-pattern>/threeDHome</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>history3DController</servlet-name>
    <servlet-class>com.threeDController.History3DController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>history3DController</servlet-name>
    <url-pattern>/History3D</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>table3DController</servlet-name>
    <servlet-class>com.threeDController.Table3DController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>table3DController</servlet-name>
    <url-pattern>/Table3D</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>threeDCommPage</description>
    <servlet-name>threeDCommPage</servlet-name>
    <jsp-file>/jsp3DPage/CommissionPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>threeDCommPage</servlet-name>
    <url-pattern>/threeDCommissionPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>threeDCommController</servlet-name>
    <servlet-class>com.threeDController.Commission3DController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>threeDCommController</servlet-name>
    <url-pattern>/Commission3D</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>sortByUser3DController</servlet-name>
    <servlet-class>com.threeDController.SortByUser3DController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sortByUser3DController</servlet-name>
    <url-pattern>/SortByUser3D</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>details3DController</servlet-name>
    <servlet-class>com.threeDController.Details3DController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>details3DController</servlet-name>
    <url-pattern>/Details3D</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>search3DController</servlet-name>
    <servlet-class>com.threeDController.Search3DController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search3DController</servlet-name>
    <url-pattern>/Search3D</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>multiInput3DController</servlet-name>
    <servlet-class>com.threeDController.MultiInput3DController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>multiInput3DController</servlet-name>
    <url-pattern>/MultiInput3D</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>customInput3DController</servlet-name>
    <servlet-class>com.threeDController.CustomInput3DController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customInput3DController</servlet-name>
    <url-pattern>/CustomInput3D</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>delete3DController</servlet-name>
    <servlet-class>com.threeDController.Delete3DController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete3DController</servlet-name>
    <url-pattern>/Delete3D</url-pattern>
  </servlet-mapping>
  
  <!-- Waiting Table Page -->
  
  <servlet>
    <description>WaitingTable3DPage</description>
    <servlet-name>WaitingTable3DPage</servlet-name>
    <jsp-file>/jsp3DPage/WaitingTable.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>WaitingTable3DPage</servlet-name>
    <url-pattern>/waiting3D</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>waiting3DController</servlet-name>
    <servlet-class>com.threeDController.WaitingTable3DController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>waiting3DController</servlet-name>
    <url-pattern>/Waiting3D</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>SummaryTable3DPage</description>
    <servlet-name>SummaryTable3DPage</servlet-name>
    <jsp-file>/jsp3DPage/SummaryTable.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>SummaryTable3DPage</servlet-name>
    <url-pattern>/summary3D</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>summary3DController</servlet-name>
    <servlet-class>com.threeDController.Summary3DController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>summary3DController</servlet-name>
    <url-pattern>/Summary3D</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AutoReport3DController</servlet-name>
    <servlet-class>com.threeDController.AutoReport3DController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoReport3DController</servlet-name>
    <url-pattern>/AutoReport3D</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>RecoverCheck3DPage</description>
    <servlet-name>RecoverCheck3DPage</servlet-name>
    <jsp-file>/jsp3DPage/RecoverTable.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecoverCheck3DPage</servlet-name>
    <url-pattern>/recoverCheck3D</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>recover3DController</servlet-name>
    <servlet-class>com.threeDController.Recover3DController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>recover3DController</servlet-name>
    <url-pattern>/Recover3D</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>fullTable3D</description>
    <servlet-name>fullTable3D</servlet-name>
    <jsp-file>/jsp3DPage/FullTable.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>fullTable3D</servlet-name>
    <url-pattern>/full3D</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>FullTable3DController</servlet-name>
    <servlet-class>com.threeDController.FullTable3DController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FullTable3DController</servlet-name>
    <url-pattern>/Full3D</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>report3D</description>
    <servlet-name>report3D</servlet-name>
    <jsp-file>/jsp3DPage/FinalResultPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>report3D</servlet-name>
    <url-pattern>/report3D</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Report3DController</servlet-name>
    <servlet-class>com.threeDController.Report3DController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Report3DController</servlet-name>
    <url-pattern>/Report3D</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>ledger3D</description>
    <servlet-name>ledger3D</servlet-name>
    <jsp-file>/jsp3DPage/HistoryResultPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ledger3D</servlet-name>
    <url-pattern>/ledger3D</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Ledger3DController</servlet-name>
    <servlet-class>com.threeDController.Ledger3DController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ledger3DController</servlet-name>
    <url-pattern>/Ledger3D</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>recoverLedger3D</description>
    <servlet-name>recoverLedger3D</servlet-name>
    <jsp-file>/jsp3DPage/RecoverResultPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>recoverLedger3D</servlet-name>
    <url-pattern>/recoverLedger3D</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RecoverLedger3DController</servlet-name>
    <servlet-class>com.threeDController.RecoverLedger3DController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecoverLedger3DController</servlet-name>
    <url-pattern>/RecoverLedger3D</url-pattern>
  </servlet-mapping>
  
  <!-- Three D Recover Page -->
  
  <servlet>
    <description>recoverPage3D</description>
    <servlet-name>recoverPage3D</servlet-name>
    <jsp-file>/jsp3DPage/RecoverPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>recoverPage3D</servlet-name>
    <url-pattern>/recoverPage3D</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RecoverPage3DController</servlet-name>
    <servlet-class>com.threeDRecoverPageController.RecoverPage3DController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecoverPage3DController</servlet-name>
    <url-pattern>/RecoverPage3D</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>MultiInputRecover3DController</servlet-name>
    <servlet-class>com.threeDRecoverPageController.MultiInputRecover3DController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MultiInputRecover3DController</servlet-name>
    <url-pattern>/MultiInputRecover3D</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CustomInputRecover3DController</servlet-name>
    <servlet-class>com.threeDRecoverPageController.CustomInput3DController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomInputRecover3DController</servlet-name>
    <url-pattern>/CustomInputRecover3D</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RecoverDetails3DController</servlet-name>
    <servlet-class>com.threeDRecoverPageController.RecoverDetails3DController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecoverDetails3DController</servlet-name>
    <url-pattern>/RecoverDetails3D</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SearchRecover3DController</servlet-name>
    <servlet-class>com.threeDRecoverPageController.SearchRecover3DController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchRecover3DController</servlet-name>
    <url-pattern>/SearchRecover3D</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>recoverSeller3D</description>
    <servlet-name>recoverSeller3D</servlet-name>
    <jsp-file>/jsp3DPage/RecoverSellerPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>recoverSeller3D</servlet-name>
    <url-pattern>/recoverSeller3D</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RecoverSeller3DController</servlet-name>
    <servlet-class>com.threeDRecoverPageController.RecoverSeller3DController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecoverSeller3DController</servlet-name>
    <url-pattern>/RecoverSeller3D</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RecoverDelete3DController</servlet-name>
    <servlet-class>com.threeDRecoverPageController.RecoverDelete3DController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecoverDelete3DController</servlet-name>
    <url-pattern>/RecoverDelete3D</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>addRecover3D</description>
    <servlet-name>addRecover3D</servlet-name>
    <jsp-file>/jsp3DPage/addRecover.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>addRecover3D</servlet-name>
    <url-pattern>/addRecover3D</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AddRecover3DController</servlet-name>
    <servlet-class>com.threeDController.AddRecover3D</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRecover3DController</servlet-name>
    <url-pattern>/AddRecover3D</url-pattern>
  </servlet-mapping>
</web-app>